<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/A.style.css.pagespeed.cf.mMBCBFkmOw.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
    
    <style>
        .btnSubmit {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #03612e;
        border: none;
        cursor: pointer;
        margin-right: 6%;
        color: rgb(246, 246, 252);
        margin-top: 4%;
      }
    </style>
    
    
    
    
    
    <title>CHITTAGONG
        MOVERS বাসা-বদল/House Shifting</title>
    <script nonce="729b9e26-d072-489e-8334-94fc9e096a3f">
        (function(w, d) {
            ! function(a, e, t, r) {
                a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zarazData.tracks = [], a.zaraz = {
                    deferred: []
                }, a.zaraz.track = (e, t) => {
                    for (key in a.zarazData.tracks.push(e), t) a.zarazData["z_" + key] = t[key]
                }, a.zaraz._preSet = [], a.zaraz.set = (e, t, r) => {
                    a.zarazData["z_" + e] = t, a.zaraz._preSet.push([e, t, r])
                }, a.addEventListener("DOMContentLoaded", (() => {
                    var t = e.getElementsByTagName(r)[0],
                        z = e.createElement(r),
                        n = e.getElementsByTagName("title")[0];
                    n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), z.defer = !0, z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t)
                }))
            }(w, d, 0, "script");
        })(window, document);
    </script>
  </head>
  <body>

    





        <!-- fixed-top -->
        <section class="ftco-section sticky-top ">
            
            <div class="wrap">
                <div class="container ">
                    <div class="row justify-content-between p-3 ">
                        <div class="col-8">
                            <h5 class=" mb-0 phone text-white" > <img src="/static/img/calllogo.gif"style="width:35px;height:35px; alt="" srcset=""></span> +8801633793948</h5>
                        </div>
                        <div class="col-4 d-flex justify-content-end ">
                            <div class="social-media">
                                <p class="mb-0 d-flex">
                                    <!-- <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a> -->
                                    <a href="#" class="d-flex align-items-center justify-content-center"><span ><img src="/static/img/messsenger_png.png"style="width:40px;height:40px; alt=""></span></span></a>
                                    <!-- <a href="#" class="d-flex align-items-center justify-content-center"><span ><img src="/static/img/whatsapp.png"style="width:40px;height:40px; alt=""></span></a> -->

                                    <a href="https://api.whatsapp.com/send?phone=+8801633793948&text=Hello" class="d-flex align-items-center justify-content-center"><span ><img src="/static/img/whatsapp.png"style="width:40px;height:40px; alt=""></span></a>

                                    <a href="https://www.facebook.com/profile.php?id=100054636391150" class="d-flex align-items-center justify-content-center"><span><img src="/static/img/facebook_png.png"style="width:60px;height:60px; alt=""></span></a>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light " id="ftco-navbar">
                <div class="container">
<!--                     <a class="navbar-brand" href="index.html">Chittagong <span>Movers & Transport</span></a> -->
                  <img src="/static/logo/Chittagongmovers&transport.png" alt="">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span> Menu
    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav m-auto">
                            
                            <!-- <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Our Services</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li> -->

                            <!-- <li class="nav-item"><a href="{% url "home" %}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{% url "about" %}" class="nav-link">About Us</a></li>
                            <li class="nav-item"><a href="{% url "service" %}" class="nav-link">Our Services</a></li>
                            <li class="nav-item"><a href="{% url "blog" %}" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="{% url "contact" %}" class="nav-link">Contact Us</a></li> -->

                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/about/" class="nav-link">About Us</a></li>
                            <li class="nav-item"><a href="/service/" class="nav-link">Our Services</a></li>
                            <li class="nav-item"><a href="/blog/" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="/contact/" class="nav-link">Contact Us</a></li>

                            <!-- <li class="nav-item"><a href="#" class="nav-link">Get a Qoute</a></li> -->
                            <!-- <button class="btn btn-sm btn-danger" type="button"><a href="./contact.html " class="text-white">Get a Qoute</a></a></button> -->
                            <!-- <button class="btn btn-sm btn-danger" type="button"><a href="{% url "qoute" %}" class="text-white">Get a Qoute</a></a></button> -->
                               <button class="btn btn-sm btn-danger" type="button"><a href="/qoute/" class="text-white">Get a Qoute</a></a></button>
                        </ul>
                    </div>
                </div>
                
            </nav>
      
        </section>
        {% block content %}
        {% endblock %}

   
  
      
     
     

      
      <section class="bg-dark">
          <div class="container">
       <div class="row bg-dark">
          <div class="col-lg-4 col-md-6"> <h5 class="text-center text-white pt-3 font-design-footer"><span  class="text-warning">PHONE</span></br>+8801633793948 </h5>
         </div> 
          <div class="col-lg-4 col-md-6 pt-3"><h5 class="text-center text-white font-design-footer"> <span      class="text-warning">ADDRESS</span></br>Ma-Shohagh Market, 1st floor, Arakan Road,
            Bahaddarhat, Chattogram.</h5>
         </div>
          <div class="col-lg-4 col-md-6 ">
                <div class="col pt-3"><h5 class="text-center text-white font-design-footer"> <span class="text-warning">E-mail </span></br>sahabuddinmasud72@gmail.com</h5></div>
        </div>
          </div>
    
          <div class="row bg-dark">
              <div class="col text-center">
                
                <h7>© 2022 Copyright <a href="">Chittagong Movers Ltd.</a></h7>
              </div>
              <div class="col text-center">
                <h7>This Website Developed By <a href="">AL Murad</a></h7>
              </div>
          </div>
        </div>
    </div>
      </section>

     <!-- this for whatsapp chat button -->
      <a href="https://wa.me/+8801633793948?text=Hi%20There!"
      class="float"
      style="
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 70px;
        right: 120px;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        box-shadow: 2px 2px 3px #999;
      "
      >
      <img
        src="/static/img/call button.png"
        alt=""
        height="60px"
        width="60px"
      />
      </a>

        
    
        <script>
            function gotowhatsapp() {
                
                var name = document.getElementById("name").value;
                var phone = document.getElementById("phone").value;
                var email = document.getElementById("email").value;
                var present_Address = document.getElementById("present_Address").value;
                var destination_Address = document.getElementById("destination_Address").value;
                var goodsDetails = document.getElementById("goodsDetails").value;
                var Present_floor = document.getElementById("Present_floor").value;
                var Destination_floor = document.getElementById("Destination_floor").value;
                var pickupdate = document.getElementById("pickupdate").value;
    
            
                var url = "https://wa.me/+8801633793948?text=" 
                + "Name: " + name + "%0a"
                + "Phone: " + phone + "%0a"
                + "Email: " + email  + "%0a"
                + "Present Address: " + present_Address  + "%0a"
                + "Destination Address: " + destination_Address  + "%0a"
                + "Goods Details: " + goodsDetails  + "%0a"
                + "Present Floor: " + Present_floor  + "%0a"
                + "Destination Floor: " + Destination_floor  + "%0a"
                + "Pick up date: " + pickupdate; 
            
                window.open(url, '_blank').focus();
            }
            </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <!-- <script src="js/jquery.min.js"></script>
        <script src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.ShDXkdKWrZ.js"></script> -->
    
        <script src="static/js/jquery.min.js"></script>
        <script src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.ShDXkdKWrZ.js"></script>
    
    
    
        
        <script>
            eval(mod_pagespeed_H0qN4W9wXo);
        </script>
        <script>
            eval(mod_pagespeed_WmiCx0VWp6);
        </script>
        <script>
            eval(mod_pagespeed_JBM6ZoM8er);
        </script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6f7953368cac78bd","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}'
            crossorigin="anonymous"></script>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
