{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="media-block" style="width: 100%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2 font-design-title-about">
                    Blog</h2>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style font-design-about display-5">Chittagong Movers & Transport is one of the experienced and renowned shifting & transport companies in Chattogram. Their Head Office is located at Bahaddarhat Chattogram. This company provides house-office shifting service, packing-moving, labor facilities, parcel service, and 24 hours transport facilities all over Bangladesh. This professional company runs their shifting & Transport business successfully all over the country. Chittagong Movers & Transport is best because they can provide you one step service like shifting, packing, labor facilities, truck rental & parcel service once. You move and take our service,our professionals and company try to keep you as a running business friend and customer.</h3>

            </div>
        </div>
    </div>
</div>
{% endblock %}