
{% extends "base.html" %}
{% block content %}
        

<div class="container">
    <div class="row">
        <div class="col-8 pt-3">
            <div class="media-block" style="width: 100%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2 font-design-title-about">
                    Contact us</h2>
                <!-- <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style font-design-about display-5">Company Name : Chittagong Movers Ltd.</h3>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style font-design-about display-5">Company Type : Movers & Transport</h3> -->
                <h3 class="mbr-fonts-style font-design-about">Company Name : Chittagong Movers Ltd.</h3>
                <h3 class="mbr-fonts-style font-design-about">Company Type : Movers & Transport.</h3>
                <h3 class="mbr-fonts-style font-design-about">Service Type :  House-office shifting service, packing-moving, labor facilities, parcel service, and 24 hours transport facilities.</h3>
                <h3 class="mbr-fonts-style font-design-about">Service Area : All over Bangladesh.</h3>
                <h3 class="mbr-fonts-style font-design-about">Mobile No : +8801633793948</h3>
            </div>
        </div>
    </div>
</div>
   
{% endblock %}
    
    
    
    
    
    
    
    
    
    
    
























