{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="media-block" style="width: 100%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2 font-design-title-about">
                    Contact Us</h2>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style font-design-about display-5">Chittagong Movers & Transport is one of the experienced and renowend shifting & transport company in Chattagram. Their Head Office is located at Bahaddarhat Chattagram. This company provides house-office shifting service, packing-moving, labour facilities, parcel service, and 24 hours transport facilities all over Bangladesh.</h3>

            </div>
        </div>
    </div>
</div>    
{% endblock %}
